{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %}
<div class="dpp-entry">
    <h1 style="font-family: Dancing Script;">Update DPP Entry</h1>

    <form action="/update/{{todo.slno}}" method="POST">
        <label for="physics">Physics :</label>
        <input type="radio" id="physics3" name="physics" value="0" onclick="toggleInput('physics')"> 0
        <input type="radio" id="physics1" name="physics" value="1" onclick="toggleInput('physics')"> 1
        <input type="radio" id="physics2" name="physics" value="2" onclick="toggleInput('physics')"> 2
        <input type="radio" id="physicsOther" name="physics" value="other" onclick="toggleInput('physics')">
        Other
        <input type="text" id="physics_input" name="physics_input" placeholder="Enter input" disabled>
        <br><br>

        <label for="chemistry">Chemistry :</label>
        <input type="radio" id="chemistry3" name="chemistry" value="0" onclick="toggleInput('chemistry')"> 0
        <input type="radio" id="chemistry1" name="chemistry" value="1" onclick="toggleInput('chemistry')"> 1
        <input type="radio" id="chemistry2" name="chemistry" value="2" onclick="toggleInput('chemistry')"> 2
        <input type="radio" id="chemistryOther" name="chemistry" value="other" onclick="toggleInput('chemistry')">
        Other
        <input type="text" id="chemistry_input" name="chemistry_input" placeholder="Enter input" disabled>
        <br><br>

        <label for="mathematics">Mathematics :</label>
        <input type="radio" id="mathematics3" name="mathematics" value="0" onclick="toggleInput('mathematics')"> 0
        <input type="radio" id="mathematics1" name="mathematics" value="1" onclick="toggleInput('mathematics')"> 1
        <input type="radio" id="mathematics2" name="mathematics" value="2" onclick="toggleInput('mathematics')"> 2
        <input type="radio" id="mathematicsOther" name="mathematics" value="other" onclick="toggleInput('mathematics')">
        Other
        <input type="text" id="mathematics_input" name="mathematics_input" placeholder="Enter input" disabled>
        <br><br>

        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% endblock body %}